@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Univerzita Tomáše Bati ve Zlíně<br />
    Fakulta aplikované informatiky<br />
    Nad Stráněmi 4511<br />
    760 05 Zlín<br />
    Česká republika<br />
    <abbr title="Telefon">P:</abbr>
    +420 576 035 120
</address>

<address>
    <strong>Tvůrce:</strong> <a href="mailto:j_sadilek@utb.cz">j_sadilek@utb.cz</a><br />
    <strong>Děkanát:</strong> <a href="mailto:dekanat@fai.utb.cz">dekanat@fai.utb.cz</a><br />
</address>
