@model Product
@{
    ViewData["Title"] = "Create Product";
}

<h2>@ViewData["Title"]</h2>

<p>Create Product page</p>
<br />

@{ViewBag.Action = "Create";}

@await Html.PartialAsync("EditForm", Model)

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <environment include="Development">
        <script src="~/js/Validation/FileContentTypeValidation.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/Validation/FileContentTypeValidation.min.js"></script>
    </environment>
}
